/Atacar.class
/AtacarForte.class
/AtacarFraco.class
/AtacarMedio.class
/Correr.class
/CorrerDevagar.class
/CorrerMedio.class
/CorrerRapido.class
/EstadoForte.class
/EstadoNormal.class
/EstadoPerigo.class
/Inimigo.class
/LifeEstado.class
/Painel$MyKeyListener.class
/Painel.class
/Personagem.class
/Principal.class
/Pular.class
/PularAlto.class
/PularBaixo.class
/PularMedio.class
